<div class="container border-primary p-5 text-white">
<h1>Login Form for Alpha Blog</h1>

<%= render 'form' %>
<br/>
<%= link_to 'Cancel and Return to Articles Listing Page', articles_path, class: "text-white" %>
</div>
<%= render 'layouts/footer' %>
