<div class="container border-primary p-5 text-white">
<h1>Create a New Category</h1>


<%= render 'form' %>
<br/>
<%= link_to 'Cancel and Return to Categories Listing Page', categories_path, class: "text-white" %>
</div>